<mat-toolbar color="primary">
  <div class="header">
    <div class="header-content title" [routerLink]="['/']">
      <img src="/assets/thread.png">
      Thread.NET
    </div>
    <div *ngIf="!authorizedUser" class="header-content auth-area">
      <p (click)="openAuthDialog(dialogType.SignIn)">Sign In</p> |
      <p (click)="openAuthDialog(dialogType.SignUp)">Sign Up</p>
    </div>
    <div *ngIf="authorizedUser" class="header-content">
      <img class="avatar avatar-size" src="{{authorizedUser.avatar}}" alt="Ava" [routerLink]="['/profile']">
      <div class="user-name" [routerLink]="['/profile']">
        <div>{{authorizedUser.userName}}</div>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
