<mat-card class="main-content align-center">
  <img class="avatar avatar-size" src="{{user.avatar}}" alt="Here should be an avatar">
  <form name="userForm" #userForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="email" [(ngModel)]="user.email" #email="ngModel" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input name="username" [(ngModel)]="user.userName" #username="ngModel" matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input name="password" [(ngModel)]="newPassword" #password="ngModel" matInput placeholder="Password">
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary">
      Save
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>
